<div ng-controller="HeaderCtrl">
   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SIMS Dashboard</a>
        </div>
        <!-- /.navbar-header -->

        <ul ng-if="!isAuthenticated()" class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/login">
                    Sign In
                </a>
            </li>
        </ul>

        <ul ng-if="isAuthenticated()" class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="logout()" href="/">
                    Sign Out
                </a>
            </li>
        </ul>
        <ul ng-if="isAuthenticated()" class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/account">
                    Account
                </a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <!--<li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                        --><!-- /input-group -->
                    <!--</li>-->
                    <li ng-if="isAuthenticated()">
                        <a class="active" href="/"><i class="fa fa-home fa-fw"></i> Home</a>
                    </li>
                    <li ng-if="isAuthenticated()">
                        <a href="/units"><i class="fa fa-hospital-o fa-fw"></i> Units Status</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>

<!--
<div class="navbar navbar-inverse navbar-fixed-top" ng-if="isAdmin()" ng-controller="AdminHeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <a href="/admin/" class="navbar-brand-admin">
                <img src="/img/logo-symbol-64x64.png" class="navbar-logo">
                <span class="navbar-brand-label">Angular Drywall</span>
            </a>
            <button class="navbar-toggle btn navbar-btn" ng-click="toggleAdminMenu()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" collapse="adminMenuCollapsed">
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown is-open="status.isopen">
                    <a href="#" class="dropdown-toggle navbar-dropdown-admin" dropdown-toggle>System&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Pivoted Settings</li>
                        <li><a href="/admin/statuses" ng-click="closeAdminMenu()">Statuses</a></li>
                        <li><a href="/admin/categories" ng-click="closeAdminMenu()">Categories</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">User Admin</li>
                        <li><a href="/admin/users" ng-click="closeAdminMenu()">Users</a></li>
                        <li><a href="/admin/accounts" ng-click="closeAdminMenu()">Accounts</a></li>
                        <li><a href="/admin/administrators" ng-click="closeAdminMenu()">Administrators</a></li>
                        <li><a href="/admin/admin-groups" ng-click="closeAdminMenu()">Admin Groups</a></li>
                    </ul>
                </li>
            </ul>
            <form name="form" class="navbar-form navbar-right">
                <div class="dropdown" dropdown is-open="resultIsOpen">
                    <input name="search" type="text" placeholder="search" class="form-control" ng-model="query" ng-model-options="{ debounce: 500 }" ng-change="update()">
                    <ul class="dropdown-menu">
                        <li class="dropdown-header" ng-show="showDropdownHeader('noDocsMatched')">no docs matched</li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Users')">Users</li>
                        <li ng-repeat="user in result.users">
                            <a ng-bind="user.username" ng-href="/admin/users/{{user._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Accounts')">Accounts</li>
                        <li ng-repeat="account in result.accounts">
                            <a ng-bind="account.name.full" ng-href="/admin/accounts/{{account._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                        <li class="dropdown-header" ng-show="showDropdownHeader('Administrators')">Administrators</li>
                        <li ng-repeat="admin in result.administrators">
                            <a ng-bind="admin.name.full" ng-href="/admin/administrators/{{admin._id}}" ng-click="closeAdminMenu()"></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
-->
